In [2]:
import numpy as np
import pandas as pd

In [3]:
exit_notes_df = pd.read_excel('..\data\TEIS Exit Data for NSS.xlsx', sheet_name = 'Exit Notes')

In [4]:
exit_notes_df

,POE,Child ID,DOB,Notification Date,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,Days from I-IFSP to Exit,Exit Note
0,UC,471738,2019-02-28,2019-10-17,2019-10-29,2019-10-31,2020-05-12,618 - Parent withdraw,2020-09-21,326,* No Exit ECO available due to COVID-19
1,FT,449030,2018-07-22,2018-11-07,2018-12-03,2018-12-18,2021-03-04,618 - Moved out of state,2021-03-06,809,"***family moving out of state March 2021, and ..."
2,FT,463311,2017-07-09,2019-05-24,2019-06-19,2019-07-02,2020-06-22,618 - Part B eligibility not determined,2020-07-08,372,**Completed the transition planning conference...
3,FT,463313,2017-07-09,2019-05-24,2019-06-19,2019-07-02,2020-06-22,618 - Part B eligibility not determined,2020-07-08,372,**Completed the transition planning conference...
4,FT,469194,2017-08-31,2019-09-04,2019-10-02,2019-10-11,2020-05-26,618 - Part B eligibility not determined,2020-08-30,324,**Due to the impact of the COVID-19 pandemic a...
...,...,...,...,...,...,...,...,...,...,...,...
5577,MD,491609,2018-12-22,2020-10-20,2020-10-30,2020-11-09,2021-03-05,618 - Attempts to contact unsuccessful,2021-05-17,189,NaN
5578,GN,491743,2018-06-05,2020-10-22,2020-11-05,2020-11-09,2021-05-04,618 - Part B eligibility not determined,2021-06-04,207,NaN
5579,ET,491879,2019-04-24,2020-10-26,2020-11-02,2020-11-04,2021-04-15,618 - Parent withdraw,2021-05-06,183,NaN
5580,SC,492267,2018-06-01,2020-10-30,2020-11-17,2020-11-24,2021-04-15,618 - Part B eligibility not determined,2021-05-31,188,NaN
5581,SW,492408,2020-08-06,2020-11-03,2020-11-17,2020-11-20,2020-11-20,618 - Attempts to contact unsuccessful,2021-05-20,181,NaN

In [5]:
exit_notes_df.loc[32]

POE                                                                        MD
Child ID                                                               485564
DOB                                                       2018-07-03 00:00:00
Notification Date                                         2020-07-06 00:00:00
Initial Eligibility Date                                  2020-08-26 00:00:00
Initial IFSP Date                                         2020-09-08 00:00:00
Latest IFSP Date                                          2020-09-08 00:00:00
Exit Reason                            618 - Attempts to contact unsuccessful
Exit Date                                                 2021-03-18 00:00:00
Days from I-IFSP to Exit                                                  191
Exit Note                   1.Exit/Close Date :03/18/2021 2.Exit/Close Rea...
Name: 32, dtype: object

In [6]:
reopened_df = exit_notes_df[exit_notes_df['Exit Note'].str.contains('reopened', case=False, na=False)].reset_index(drop=True)
reopened_df = reopened_df.drop(columns=['POE', 'DOB', 'Notification Date', 'Initial Eligibility Date'])
reopened_df

,Child ID,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,Days from I-IFSP to Exit,Exit Note
0,473474,2020-05-06,2020-06-23,618 - Part B eligibility not determined,2020-11-04,182,**LEA county on the Transition page and demogr...
1,469243,2019-10-02,2020-03-19,618 - Parent withdraw,2021-02-11,498,02-11-2021 â€“ PWN signed and returned for volun...
2,436339,2019-02-13,2021-01-29,618 - Part B eligibility not determined,2021-04-01,778,04/01/2021- File closed business day prior to ...
3,474102,2020-04-09,2021-03-29,618 - Part B eligibility not determined,2021-05-10,396,05/10/2021 TPC held then parents withdrew from...
4,476958,2020-08-24,2021-02-12,618 - Parent withdraw,2021-05-25,274,05/25/21- parent withdraw Reopened: 08/04/2020...
...,...,...,...,...,...,...,...
1725,469136,2019-10-23,2020-10-01,618 - Part B eligibility not determined,2020-10-23,366,"The family ended TEIS services, and requested ..."
1726,432033,2018-04-25,2020-10-19,618 - Part B eligible,2020-12-29,979,The TPC was late due to LEA getting COVID and ...
1727,469330,2020-05-13,2020-12-01,618 - Part B eligible,2021-02-18,281,TPC 10/19/2020 Reopened: 03/05/2020 Exit Date:...
1728,428532,2018-01-26,2020-04-01,618 - Part B eligibility not determined,2020-07-12,898,TPC held and further assessments agreed to; PA...
1729,463610,2019-08-12,2020-05-12,618 - Attempts to contact unsuccessful,2020-08-08,362,TPC was late due to SC's inability to get a re...

In [7]:
# finding all dates
dates_df = reopened_df['Exit Note'].str.findall('(\\d{2}/\\d{2}/\\d{4})')
dates_df = dates_df.to_frame()
dates_df['total_dates'] = dates_df['Exit Note'].apply(lambda x: len(str(x).split(' ')))
dates_df

                                 Exit Note  total_dates
0                 [04/06/2020, 11/26/2019]            2
1                 [02/05/2021, 04/07/2020]            2
2     [04/01/2021, 01/11/2019, 06/17/2018]            3
3     [05/10/2021, 02/28/2020, 12/05/2019]            3
4                 [08/04/2020, 03/09/2020]            2
...                                    ...          ...
1725              [07/28/2020, 04/26/2020]            2
1726              [02/05/2019, 10/23/2018]            2
1727  [10/19/2020, 03/05/2020, 09/17/2019]            3
1728              [10/25/2018, 05/24/2018]            2
1729              [07/19/2019, 06/25/2019]            2

[1730 rows x 2 columns]

In [8]:
# finding the reopened and exit dates
reopen_date_df = reopened_df['Exit Note'].str.findall('Reopened: \\d{2}/\\d{2}/\\d{4}')
exit_date_df = reopened_df['Exit Note'].str.findall('Exit Date: \\d{2}/\\d{2}/\\d{4}')

In [9]:
# pull dates
reopened_df['reopened_dates'] = reopened_df['Exit Note'].str.findall('Reopened: \\d{2}/\\d{2}/\\d{4}')
reopened_df['exit_dates'] = reopened_df['Exit Note'].str.findall('Exit Date: \\d{2}/\\d{2}/\\d{4}')
# convert to string
reopen_date_df = reopened_df.reopened_dates.to_frame().astype(str)
exit_date_df = reopened_df.exit_dates.to_frame().astype(str)
# get each date in its own column
reopen_date_df = reopen_date_df.reopened_dates.str.split(',', expand=True)
reopen_date_df.columns = ['reopen1', 'reopen2', 'reopen3', 'reopen4', 'reopen5', 'reopen6']
exit_date_df = exit_date_df.exit_dates.str.split(',', expand=True)
exit_date_df.columns = ['exit1', 'exit2', 'exit3', 'exit4', 'exit5', 'exit6']

cols_r = ['reopen1', 'reopen2', 'reopen3', 'reopen4', 'reopen5', 'reopen6']
cols_e = ['exit1', 'exit2', 'exit3', 'exit4', 'exit5', 'exit6']
# trim unnecessary characters from dates
reopen_date_df[cols_r] = reopen_date_df[cols_r].replace({'\[':'', '\]':'', '\'':'', 'Reopened:':''}, regex=True)
exit_date_df[cols_e] = exit_date_df[cols_e].replace({'\[':'', '\]':'', '\'':'', 'Exit Date:':''}, regex=True)
display(reopen_date_df)
display(exit_date_df)

          reopen1 reopen2 reopen3 reopen4 reopen5 reopen6
0      04/06/2020    None    None    None    None    None
1      02/05/2021    None    None    None    None    None
2      01/11/2019    None    None    None    None    None
3      02/28/2020    None    None    None    None    None
4      08/04/2020    None    None    None    None    None
...           ...     ...     ...     ...     ...     ...
1725   07/28/2020    None    None    None    None    None
1726   02/05/2019    None    None    None    None    None
1727   03/05/2020    None    None    None    None    None
1728   10/25/2018    None    None    None    None    None
1729   07/19/2019    None    None    None    None    None

[1730 rows x 6 columns]

            exit1 exit2 exit3 exit4 exit5 exit6
0      11/26/2019  None  None  None  None  None
1      04/07/2020  None  None  None  None  None
2      06/17/2018  None  None  None  None  None
3      12/05/2019  None  None  None  None  None
4      03/09/2020  None  None  None  None  None
...           ...   ...   ...   ...   ...   ...
1725   04/26/2020  None  None  None  None  None
1726   10/23/2018  None  None  None  None  None
1727   09/17/2019  None  None  None  None  None
1728   05/24/2018  None  None  None  None  None
1729   06/25/2019  None  None  None  None  None

[1730 rows x 6 columns]

In [10]:
reopen_exit_df = reopen_date_df.join(exit_date_df)
reopen_exit_df = reopen_exit_df[reopen_exit_df.columns[[6,0,7,1,8,2,9,3,10,4,11,5]]]
reopen_exit_df = reopen_exit_df.astype('datetime64')
reopen_exit_df

,exit1,reopen1,exit2,reopen2,exit3,reopen3,exit4,reopen4,exit5,reopen5,exit6,reopen6
0,2019-11-26,2020-04-06,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,2020-04-07,2021-02-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,2018-06-17,2019-01-11,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,2019-12-05,2020-02-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,2020-03-09,2020-08-04,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
1725,2020-04-26,2020-07-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1726,2018-10-23,2019-02-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1727,2019-09-17,2020-03-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1728,2018-05-24,2018-10-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1729,2019-06-25,2019-07-19,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [11]:
exit_notes_stripped = reopened_df.drop(columns = ['Latest IFSP Date', 'Child ID', 'Exit Reason', 'Exit Note', 'reopened_dates', 'exit_dates'])
exit_notes_stripped

     Initial IFSP Date  Exit Date  Days from I-IFSP to Exit
0           2020-05-06 2020-11-04                       182
1           2019-10-02 2021-02-11                       498
2           2019-02-13 2021-04-01                       778
3           2020-04-09 2021-05-10                       396
4           2020-08-24 2021-05-25                       274
...                ...        ...                       ...
1725        2019-10-23 2020-10-23                       366
1726        2018-04-25 2020-12-29                       979
1727        2020-05-13 2021-02-18                       281
1728        2018-01-26 2020-07-12                       898
1729        2019-08-12 2020-08-08                       362

[1730 rows x 3 columns]

In [12]:
reopen_exit_notes = exit_notes_stripped.join(reopen_exit_df)
reopen_exit_notes

,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,exit1,reopen1,exit2,reopen2,exit3,reopen3,exit4,reopen4,exit5,reopen5,exit6,reopen6
0,2020-05-06,2020-11-04,182,2019-11-26,2020-04-06,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,2019-10-02,2021-02-11,498,2020-04-07,2021-02-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,2019-02-13,2021-04-01,778,2018-06-17,2019-01-11,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,2020-04-09,2021-05-10,396,2019-12-05,2020-02-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,2020-08-24,2021-05-25,274,2020-03-09,2020-08-04,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,2019-10-23,2020-10-23,366,2020-04-26,2020-07-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1726,2018-04-25,2020-12-29,979,2018-10-23,2019-02-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1727,2020-05-13,2021-02-18,281,2019-09-17,2020-03-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1728,2018-01-26,2020-07-12,898,2018-05-24,2018-10-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1729,2019-08-12,2020-08-08,362,2019-06-25,2019-07-19,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [13]:
# getting rid of the dates before Initial IFSP Date, because they dont matter
reopen_exit_notes.loc[reopen_exit_notes.exit1 < reopen_exit_notes['Initial IFSP Date'], ['exit1']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.exit2 < reopen_exit_notes['Initial IFSP Date'], ['exit2']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.exit3 < reopen_exit_notes['Initial IFSP Date'], ['exit3']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.exit4 < reopen_exit_notes['Initial IFSP Date'], ['exit4']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.exit5 < reopen_exit_notes['Initial IFSP Date'], ['exit5']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.exit6 < reopen_exit_notes['Initial IFSP Date'], ['exit6']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.reopen1 < reopen_exit_notes['Initial IFSP Date'], ['reopen1']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.reopen2 < reopen_exit_notes['Initial IFSP Date'], ['reopen2']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.reopen3 < reopen_exit_notes['Initial IFSP Date'], ['reopen3']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.reopen4 < reopen_exit_notes['Initial IFSP Date'], ['reopen4']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.reopen5 < reopen_exit_notes['Initial IFSP Date'], ['reopen5']] = 'NaT'
reopen_exit_notes.loc[reopen_exit_notes.reopen6 < reopen_exit_notes['Initial IFSP Date'], ['reopen6']] = 'NaT'

reopen_exit_notes

,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,exit1,reopen1,exit2,reopen2,exit3,reopen3,exit4,reopen4,exit5,reopen5,exit6,reopen6
0,2020-05-06,2020-11-04,182,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,2019-10-02,2021-02-11,498,2020-04-07,2021-02-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,2019-02-13,2021-04-01,778,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,2020-04-09,2021-05-10,396,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,2020-08-24,2021-05-25,274,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,2019-10-23,2020-10-23,366,2020-04-26,2020-07-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1726,2018-04-25,2020-12-29,979,2018-10-23,2019-02-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1727,2020-05-13,2021-02-18,281,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1728,2018-01-26,2020-07-12,898,2018-05-24,2018-10-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1729,2019-08-12,2020-08-08,362,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [14]:
reopen_exit_notes = reopen_exit_notes[reopen_exit_notes.exit1.notnull()].reset_index(drop=True)

reopen_exit_notes.exit1 = np.where(reopen_exit_notes.exit1 == reopen_exit_notes['Exit Date'], reopen_exit_notes.exit2, reopen_exit_notes.exit1)

In [16]:
# subtracting the days
reopen_exit_notes['r1-e1'] = reopen_exit_notes.reopen1 - reopen_exit_notes.exit1
reopen_exit_notes['r2-e2'] = reopen_exit_notes.reopen2 - reopen_exit_notes.exit2
reopen_exit_notes['r3-e3'] = reopen_exit_notes.reopen3 - reopen_exit_notes.exit3
reopen_exit_notes['r4-e4'] = reopen_exit_notes.reopen4 - reopen_exit_notes.exit4
reopen_exit_notes['r5-e5'] = reopen_exit_notes.reopen5 - reopen_exit_notes.exit5
reopen_exit_notes['r6-e6'] = reopen_exit_notes.reopen6 - reopen_exit_notes.exit6

In [17]:
reopen_exit_notes['r1-e1'] = reopen_exit_notes['r1-e1'].fillna(pd.Timedelta(seconds=0))
reopen_exit_notes['r2-e2'] = reopen_exit_notes['r2-e2'].fillna(pd.Timedelta(seconds=0))
reopen_exit_notes['r3-e3'] = reopen_exit_notes['r3-e3'].fillna(pd.Timedelta(seconds=0))
reopen_exit_notes['r4-e4'] = reopen_exit_notes['r4-e4'].fillna(pd.Timedelta(seconds=0))
reopen_exit_notes['r5-e5'] = reopen_exit_notes['r5-e5'].fillna(pd.Timedelta(seconds=0))
reopen_exit_notes['r6-e6'] = reopen_exit_notes['r6-e6'].fillna(pd.Timedelta(seconds=0))

In [25]:
reopen_exit_notes['day_diff'] = reopen_exit_notes['r1-e1'] + reopen_exit_notes['r2-e2'] + reopen_exit_notes['r3-e3'] + reopen_exit_notes['r4-e4'] + reopen_exit_notes['r5-e5'] + reopen_exit_notes['r6-e6']
reopen_exit_notes.day_diff = reopen_exit_notes.day_diff.astype('timedelta64[D]').astype(np.int64)
reopen_exit_notes['actual_service_time'] = reopen_exit_notes['Days from I-IFSP to Exit'].astype('timedelta64[D]').astype(np.int64) - reopen_exit_notes.day_diff

C:\Users\cheft\AppData\Local\Temp/ipykernel_9584/3822914516.py:3: FutureWarning: casting timedelta64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  reopen_exit_notes['actual_service_time'] = reopen_exit_notes['Days from I-IFSP to Exit'].astype('timedelta64[D]').astype(np.int64) - reopen_exit_notes.day_diff

In [28]:
service_time_df = reopen_exit_notes[['actual_service_time']]
service_time_df

     actual_service_time
0      43027199999999696
1      77932799999999815
2      27129599999999782
3      50457599999999569
4      34473599999999936
..                   ...
718    67564799999999575
719    84067199999999910
720    31622399999999907
721    84585599999999895
722    77587199999999846

[723 rows x 1 columns]